.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.logo {
  width: 4rem;
  height: 4rem;
  color: coral;
  padding-left: 50px;
}

.navList {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 200px;
}

.navList li a {
  color: #000;
  text-decoration: none;
  
}

.navList li a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}
