.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icon {
  display: flex;
  text-decoration: none;
}

.logoText {
  color: var(--text-color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 15px;
}

.logoText:hover {
  color: coral;
  transition: 0.3s ease-in-out;
}

.logo {
  width: 4rem;
  height: 4rem;
  color: coral;
  padding-top: 15px;
  padding-left: 50px;
  font-size: 1.2rem;
}

.navList {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding-right: 200px;
}

.navList li a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  position: relative;
}

.navList li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: coral;
  transition: width 0.35s ease-in-out;
}

.navList li a:hover::before {
  width: 100%;
}

.active {
  font-weight: bold;
}

.mainNav {
  display: block;
}

.menuBtn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 4rem;
    height: 4rem;
    padding-left: 10px;
  }

  .mainNav {
    display: none;
  }

  .menuBtn {
    display: block;
    padding-right: 50px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  .crossBtn {
    padding-top: 20px;
    padding-left: 10px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  .navList {
    display: block;
    text-align: left;
    padding-right: 50px;
  }

  .navList li {
    padding-top: 30px;
    margin-bottom: 40px;

  }
  .navList li a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    position: relative;
    padding-top: 40px;

  }
}
