.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.header > h2 {
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
  color: #008489;
}

.header > h4 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: grey;
}

label {
  margin-bottom: 0.5rem;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: bold;
}

input {
  width: 80%;
  max-width: 300px;
  padding: 0.5rem;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: "Montserrat Alternatas", sans-serif;
  outline: 0;
  transition: 0.2s;
}

input:focus {
  border-color: #008489;
}

button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #008489;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #006c70;
}

.redirect {
  margin: 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}

.click {
  color: #008489;
  font-weight: bold;
  text-decoration: none;
}
