@media (min-width: 390px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;
    left: 30px;
    top: -100px;
  }

  .headingContainer {
    text-align: center;
  }

  .h1 {
    font-size: clamp(1rem, 10vw, 3rem);
    font-family: "Lobster";
    color: #42876e;
  }

  .p {
    font-size: clamp(1rem, 1vw, 2rem);
  }

  .inputContainer {
    width: 100%;
  }

  .input {
    width: 94%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .button {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;

    background-color: #000;
    border: none;
    border-radius: 2px;

    height: 45px;
    cursor: pointer;
  }

  .btn1 {
    color: #fff;

    transition: 0.3s ease-out;
  }
  .btn1:hover {
    background-color: #42876e;
  }

  .btn2 {
    color: #000;
    background-color: transparent;
    border: 2px solid #000;

    transition: 0.5s ease-out;
  }
  .btn2:hover {
    background-color: #000;
    color: #fff;
  }
  
  .redirect {
    text-align: center;
    font-family: "Inter";
    font-size: clamp(1rem, 1vw, 2rem);
  }

  .click {
    text-decoration: none;
    color: #42876e;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .formContainer {
    width: 90%;
    margin: auto;
    top: -40px;
  }
  .input {
    width: 97%;
    height: 30px;
  }
  
  .button {
    height: 55px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    width: 100%;
    margin: auto;
    top: -40px;
  }
  .button {
    height: 70px;
    font-size: 20px;
  }
}


@media (min-width: 1200px) {

  .formContainer {
    margin: auto;
    width: 50%;
  }
  
  
  .button {
    height: 60px;
    font-size: 20px;
  }
}