.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control textarea,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}


button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.invalid input {
  background-color: #f17d7d;
  border-radius: 3px;
}

.invalid textarea {
  background-color: #f17d7d;
  border-radius: 3px;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

@media screen and (max-width: 390px) {
  input {
    height: 28px;
  }
}