.container {
  text-align: center;
  margin-top: 300px;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: rgb(209, 104, 66);
  transition: 0.35s ease-in-out;
}

.link:hover {
  color: #008489;
}
