.container {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #008489;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.desc {
  border: 0.5px solid #008489;
  border-radius: 5px;
  height: 200px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.desc:focus {
  outline: none;
}

form > label {
  margin-bottom: 0.5rem;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 500;
}

.box > label {
  font-weight: 500;
}

input {
  width: 80%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Montserrat Alternatas", sans-serif;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1.5rem;
}

input[type="date"],
input[type="number"] {
  width: 30%;
}

button[type="submit"],
button {
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"] {
  background-color: #ff7f50;
  color: #ffffff;
}

button[type="submit"]:hover {
  background-color: #d26e49;
}

button {
  background-color: #ffffff;
  color: #ff7f50;
  border: 1px solid #ff7f50;
  margin-right: 1rem;
}

button:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
